.btn-primary{

    background:var(--primary);

    border:none;

    padding:12px 28px;

    border-radius:40px;

    transition:var(--transition);

}

.btn-primary:hover{

    background:var(--primary-dark);

}

.btn-outline{

    border:2px solid var(--primary);

    color:var(--primary);


    background:white;


    border-radius:40px;

    padding:12px 28px;
    transition:.3s;

}

.btn-outline:hover{

    background:var(--primary);

    color:white;

}