.form-control{

    height:52px;

    border-radius:8px;

    border:1px solid #ddd;

}

.form-control:focus{

    box-shadow:none;

    border-color:var(--primary);

}

textarea.form-control{

    min-height:140px;

}